*.exe
**/.DS_Store
.DS_Store
*.exe
.vscode/*
*.dSYM

clustering/bank_output.txt

coverage/BMI-soc-pokec-relationships.txt
coverage/color_age_1.txt
coverage/color-BMI.txt

movies/movies.dat
movies/U.txt
movies/VT.txt

results/*.txt

plots/*.pdf
